# Frontend envs
NEXT_PUBLIC_SUPABASE_URL=https://niszgnadgqxpbeisqisj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pc3pnbmFkZ3F4cGJlaXNxaXNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEwNzc0ODgsImV4cCI6MjA4NjY1MzQ4OH0.BbWaZLnD5Onug_FgfB4BS0Nmb4pPqLFDy_1XhfgL5rE
NEXT_PUBLIC_PENNYLANE_API_URL=https://api.pennylane.com/v1
NEXT_PUBLIC_SENTRY_DSN=https://e4873162b52f393b0e92393da5a631ca@o4510884860592128.ingest.de.sentry.io/4510884862361680
