# Supabase
SUPABASE_URL=https://niszgnadgqxpbeisqisj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pc3pnbmFkZ3F4cGJlaXNxaXNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEwNzc0ODgsImV4cCI6MjA4NjY1MzQ4OH0.BbWaZLnD5Onug_FgfB4BS0Nmb4pPqLFDy_1XhfgL5rE
SUPABASE_SERVICE_ROLE_KEY=___SET_ME___
SUPABASE_DB_PASSWORD=___SET_ME___

# Sentry
SENTRY_DSN=https://e4873162b52f393b0e92393da5a631ca:7d8f012e4015aae55c76216e6b4fe6c9@o4510884860592128.ingest.de.sentry.io/4510884862361680

# PennyLane API
PENNYLANE_API_TOKEN=___SET_ME___
